<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="QPME Target Platform" sequenceNumber="1469146478">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.6.300.v20160525-1303"/>
      <unit id="org.eclipse.platform.feature.group" version="4.6.0.v20160606-1342"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.6.0.v20160606-1342"/>
      <unit id="org.eclipse.emf.feature.group" version="2.12.0.v20160526-0356"/>
      <unit id="org.eclipse.gef.feature.group" version="3.11.0.201606061308"/>
      <repository location="http://download.eclipse.org/releases/neon"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150821153341/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="cern.colt" version="1.2.0.v02"/>
      <unit id="edu.oswego.cs.dl.util.concurrent" version="1.3.4.v03"/>
      <unit id="edu.bonn.cs.net.jbarrier" version="1.0.0.v2"/>
      <unit id="org.dom4j" version="1.6.1.v02"/>
      <unit id="org.jaxen" version="1.1.6.v02"/>
      <unit id="org.jfreechart.core" version="1.0.19.v00"/>
      <unit id="org.jfreechart.experimental" version="1.0.12.v02"/>
      <unit id="org.jfreechart.jcommon" version="1.0.19.v00"/>
      <unit id="org.jfreechart.swt" version="1.0.12.v02"/>
      <unit id="org.rosuda.JRI" version="0.5.0.v01"/>
      <repository location="https://se4.informatik.uni-wuerzburg.de/thirdparty/repository/"/>
    </location>
  </locations>
</target>
