
#bullet {
	width: 48px;
	height: 48px;
	vertical-align: middle;
	}


/* Give some space for main div.*/	
.page-style {
	text-align: center;
	margin-top:40pt;
	}
	
/* satisfy Mozilla */	
body > div.page-style {
	padding-left:30%;
	}


#content {
	text-align:left;
	width:43em;
	} 



		

