<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="SimQPN Action Set"
            visible="true"
            id="de.tud.cs.simqpn.actionSet">
         <action
              label="SimQPN"
			  class="de.tud.cs.simqpn.plugin.actions.StartSimulatorAction"
              tooltip="SimQPN Plugin for QPE"
              menubarPath="qpeTools/SimQPNGroup"
              id="de.tud.cs.simqpn.plugin.actions.StartSimulatorAction">
         </action>
      </actionSet>
   </extension>

</plugin>
